<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet"/>
</head>
<body>
    <button class="btn-custom">Submit</button>
</body>
</html>
